.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-weight: bold;
  color: white;
}

.button {
  background-color: #ff3d00;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #d32f2f;
}